{% extends 'commentstore/base.html' %}

{% block title %}
    Comment Store Homepage
{% endblock %}

{% block content %}

    <h2>Comment Store Homepage</h2>

    {% if user.is_authenticated %}        
        {% if cmnt_list|length > 0 %}
            <h3>User <em>{{user.username}}</em> comments:</h3>
            <br>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                {% for cmnt in cmnt_list %}
                    <tr>
                        <td>{{ cmnt.name }}</td>
                        <td>{{ cmnt.visitdate }}</td>
                        <td>{{ cmnt.commentstr }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>There are no comments for user: <em>{{user.username}}</em>.</h3>
        {% endif %} 
        <a href="http://127.0.0.1:8000/commentstore/">Add a comment</a>
            
    {% else %}
        <a href="http://127.0.0.1:8000/login/">Please login</a></h3>
    {% endif %}

{% endblock %}